<section class="testimonial">
    <div class="testimonial-container">
       <div class="content-wrapper">
        <h2 class="section-title">Testimonial</h2>
        <blockquote class="testimonial-quote">
          "Simply the best. Better than all the rest. I'd recommend this product to beginners and advanced users."
        </blockquote>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/201ec533b89e0276ab91d9ed8fad144443b0853543f4ce5a23bdc04f1932e39a?placeholderIfAbsent=true&apiKey=4548a24a53294249b2f33dd371f436bb" alt="Ian Klein" class="avatar" />
        <cite class="author-name">Ian Klein</cite>
        <p class="author-title">Digital Marketer</p>
      </div>
    </div>
  </section>
