<section class="hero">
  <div class="hero-content">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/66c92c5d483f3843c2d6b151be4df533e4393a7be9f0d1ae945ef3f6bc877b2a?placeholderIfAbsent=true&apiKey=4548a24a53294249b2f33dd371f436bb" class="background-image" alt="" />
    <div class="content-wrapper">
      <app-navbar></app-navbar>
      <div class="content-columns">
        <div class="text-column">

          <div class="text-content">
            <p class="subtitle">Let's shift your business</p>
            <h1 class="title">Shift your business fast with Shade Pro.</h1>
            <p class="description">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
            <button class="cta-button" >Get started a project</button>
          </div>
        </div>
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0b2e42bd9cd38ce0d1da751b492b842728ba3124a7e3e77016abb806e8055552?placeholderIfAbsent=true&apiKey=4548a24a53294249b2f33dd371f436bb" class="hero-image" alt="Illustration representing business growth" />
        </div>
      </div>
    </div>
  </div>
</section>
