<div>
  <h2>Submitted Contact Forms</h2>
  <div class="table-responsive">
    <table class="table table-striped custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Mobile Number</th>
          <th>PAN No</th>
          <th>Aadhaar No</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of formDataList">
          <td>{{ data.first_name }} {{ data.last_name }}</td>
          <td>{{ data.emailId }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.mobilenumber }}</td>
          <td>{{ data.pan_no }}</td>
          <td>{{ data.adhaar_no }}</td>
          <td>{{ data.status ? 'Active' : 'Inactive' }}</td>
          <td>
            <button (click)="openUpdateForm(data)">Update</button>
            <button (click)="deleteData(data.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
