<section class="stats-container">
  <article class="stat-item">
    <h2 class="stat-value">1M+</h2>
    <p class="stat-description">Customers visit Omega every month to get their service done.</p>
  </article>
  <article class="stat-item">
    <h2 class="stat-value">92%</h2>
    <p class="stat-description">Satisfaction rate comes from our awesome customers.</p>
  </article>
  <article class="stat-item">
    <h2 class="stat-value">4.9/5.0</h2>
    <p class="stat-description">Average customer ratings we have got all over internet.</p>
  </article>
</section>
